

/**********JUMBOTRON STARTS************************************/

.myJumbotron {
	background-color: white;
	padding-top: 0;
	padding-bottom: 0;
}

.myBanner {
	width: 100%;
}

/*************JUMBOTRON ENDS***********************************/

/*************GALLERY STARTS***********************************/

.homeGallery {
	justify-content: center;
}

.hidnNav {
	display: none;
}

h4 {
	opacity:0;
	writing-mode:vertical-lr;
	transform:scale(-1,-1);
	color: black;
	font-weight: bold;
	justify-content: flex-end;
	direction: rtl;
	position: absolute;
	bottom: 10px;
	left: 0;
	margin-left: 25px;
	font-size: 2em;
}

.boxClick:hover .catOne{
	opacity: 1;
}


.boxClick:hover .tiles{
	opacity:0.5;
}









/*******MEDIA QUERIES STARTS*************************************/

@media screen and (max-width: 375px) {

	.homeLink {
		display: none;
	}

	.hidnNav{
	  	display: block;
	}

	.myNav {
	  	align-items: center;
	  	border-top: solid black 1px;
	  	border-bottom: solid black 1px;
		
	}
}

@media screen and (max-width: 667px) {

	.homeLink {
		display: none;
	}

	.hidnNav{
	  	display: block;
	}

	.myNav {
	  	align-items: center;
	  	border-top: solid black 1px;
	  	border-bottom: solid black 1px;
		
	}
}

@media screen and (max-width: 736px) {

	.homeLink {
		display: none;
	}

	.hidnNav{
	  	display: block;
	}

	.myNav {
	  	align-items: center;
	  	border-top: solid black 1px;
	  	border-bottom: solid black 1px;
		
	}
}







