{% extends 'layout.html.twig' %}

{% block content %}
	<div class="container">
		<div class="row homeGallery">
			<div class="col-lg-2 col-md-2 col-12 homeLink">
	          <a href="#" class="">
	            <img class="img-fluid img-thumbnail" src="assets/images/img1.JPG" alt="">
	          </a>
	        </div>
	        <div class="col-lg-2  col-md-2 col-12 homeLink">
	          <a href="#" class="">
	            <img class="img-fluid img-thumbnail" src="assets/images/img1.JPG" alt="">
	          </a>
	        </div>
	        <div class="col-lg-2  col-md-2 col-12 homeLink">
	          <a href="#" class="">
	            <img class="img-fluid img-thumbnail" src="assets/images/img1.JPG" alt="">
	          </a>
	        </div>
	        <div class="col-lg-2  col-md-2 col-12 homeLink">
	          <a href="#" class="">
	            <img class="img-fluid img-thumbnail" src="assets/images/img1.JPG" alt="">
	          </a>
	        </div>
	        <div class="col-lg-2  col-md-2 col-12 homeLink">
	          <a href="#" class="">
	            <img class="img-fluid img-thumbnail" src="assets/images/img1.JPG" alt="">
	          </a>
	        </div>
	    </div>
	    <div class="hidnNav">
			<div class="navbar-nav myNav">
				<a class="nav-item nav-link text-dark clickNav" href="#">Dessin</a>
				<a class="nav-item nav-link text-dark clickNav" href="#">Peinture</a>
				<a class="nav-item nav-link text-dark clickNav" href="#">Body Painting</a>
				<a class="nav-item nav-link text-dark clickNav" href="#">Mural</a>
				<a class="nav-item nav-link text-dark clickNav" href="#">L'Artiste</a>
			</div>
		</div>
	</div>
{% endblock %}
