{% extends 'layout.html.twig' %}

{% block content %}
	<div class="container">
		<div class="row homeGallery">
			<div class="col-lg-2 col-md-2 col-12 homeLink">
				<a href="#" class="boxClick">
					<img class="img-fluid img-thumbnail tiles" src="assets/images/img1.JPG" alt="">
					<div class="">
						<h4 class="rgba-black-light catOne">Dessin</h4>
					</div>
				</a>
			</div>
			<div class="col-lg-2  col-md-2 col-12 homeLink">
				<a href="#" class="boxClick">
					<img class="img-fluid img-thumbnail tiles" src="assets/images/img1.JPG" alt="">
					<div class="">
						<h4 class="rgba-black-light catOne">Peinture</h4>
					</div>
				</a>
			</div>
			<div class="col-lg-2  col-md-2 col-12 homeLink">
				<a href="#" class="boxClick">
					<img class="img-fluid img-thumbnail tiles" src="assets/images/img1.JPG" alt="">
					<div class="">
						<h4 class="rgba-black-light catOne">Body Painting</h4>
					</div>
				</a>
			</div>
			<div class="col-lg-2  col-md-2 col-12 homeLink">
				<a href="#" class="boxClick">
					<img class="img-fluid img-thumbnail tiles" src="assets/images/img1.JPG" alt="">
					<div class="">
						<h4 class="rgba-black-light catOne">Mural</h4>
					</div>
				</a>
			</div>
			<div class="col-lg-2  col-md-2 col-12 homeLink">
				<a href="#" class="boxClick">
					<img class="img-fluid img-thumbnail tiles" src="assets/images/img1.JPG" alt="">
					<div class="">
						<h4 class="rgba-black-light catOne">L'Artiste</h4>
					</div>
				</a>
			</div>
		</div>
		<div class="hidnNav">
			<div class="navbar-nav myNav">
				<a class="nav-item nav-link text-dark clickNav" href="#">Dessin</a>
				<a class="nav-item nav-link text-dark clickNav" href="#">Peinture</a>
				<a class="nav-item nav-link text-dark clickNav" href="#">Body Painting</a>
				<a class="nav-item nav-link text-dark clickNav" href="#">Mural</a>
				<a class="nav-item nav-link text-dark clickNav" href="#">L'Artiste</a>
			</div>
		</div>
	</div>
{% endblock %}